* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

:root {
  --black: #0F0C0C;
  --white: #f9f4f4;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  font-size: 1.6rem;
  background-color: var(--black);
}

.container {
  padding: 0 7rem;
  height: 100vh;
  width: 100vw;
}

